*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  margin: 0px 150px;
}

img {
  width: 100%;
  object-fit: cover;
}

.img-mobile {
  display: none;
}

.navbar {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 2rem 0rem;
  align-items: center;
  position: relative;
}

.nav-menu-container {
  position: absolute;
  right: 200px;
  display: none;
}

.links-container {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}

.links-container a {
  text-decoration: none;
  color: grey;
  font-size: 0.9rem;
}

.logo-image {
  width: 3rem;
  height: 2rem;
}

.news-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

.top-news-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2rem 0rem;
}

.top-news-snippet {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  line-height: 1.5;
  justify-content:left;
}

.head-news-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.head-news {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.head-news-title {
  font-size: 3rem;
}

.head-news-description-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.head-news-description {
  color: grey;
  font-size: 0.9rem;
}

button {
  padding: 0.7rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: hsl(5, 85%, 63%);
  border: none;
  width: max-content;
}

.new-news-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: black;
  color: white;
}

.new-news-container h2 {
  font-size: 2rem;
  color: hsl(35, 77%, 62%);
}

.new-news-container h3 {
  margin: 5px 0px;
}

.new-news-container p {
  color: grey;
  font-size: 0.9rem;
}

hr {
  border: 1px solid grey;
  margin: 1rem 0rem;
}

.top-news-snippet h2 {
  font-size: 1.5rem;
  color: rgb(169, 168, 168);
  font-weight: 600;
}

.top-news-snippet h3 {
  font-size: 0.9rem;
  font-weight: 800;
}

.top-news-snippet p {
  font-size: 0.9rem;
  color: grey;
}

.top-news-snippet img {
  width: 75px;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .top-news-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 2rem 0rem;
  }
}

@media only screen and (max-width: 720px) {
  body {
    margin: 0px 50px;
  }
  
  .news-container {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    margin-bottom: 0rem;
  }
  
}
@media only screen and (max-width: 550px) {

  body {
    margin: 0px 20px;
  }

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .nav-menu-container {
    right: 0px;
    display: block;
    }

  .links-container {
    display: none;
  }

  .head-news-container {
    grid-template-columns: 1fr;
  }

  .head-news {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  .head-news-description-container {
    gap: 1rem;
  }

  button {
    padding: 0.7rem 1.5rem;
  }

  .top-news-snippet img {
    width: 65px;
    height: 100%;
  }
}
